@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&display=swap');


/***********************/
/******* GENERAL *******/
/***********************/
:root {
  --button-color: rgb(255, 192, 66);
  --text-color: #191718;
  --border-radius: 20px;
  --title-shadow:
    -3px -3px 0 #db2929,
    3px -3px 0 #db5b29,
    -3px 3px 0 #db7929,
    3px 3px 0 #dba329,
    5px 5px 0 var(--text-color),
    6px 6px 0 var(--text-color),
    7px 7px 0 var(--text-color),
    8px 8px 0 var(--text-color);
  --box-shadow:
    -6px -6px 0#db2929,
    6px -6px 0 #db5b29,
    -6px 6px 0 #db7929,
    6px 6px 0 #dba329,
    8px 8px 0 var(--text-color),
    9px 9px 0 var(--text-color),
    10px 10px 0 var(--text-color),
    11px 11px 0 var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url(/img/banner/banner.jpg);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************/
/******* HEADER *******/
/**********************/

header {
  grid-area: header;
  flex-direction: column;
  padding: 1rem;
}

header img {
  width: 9rem;
  margin-left: 30px;
}

header h1 {
  font-size: 4.5rem;
  font-family: 'Rubik 80s Fade';
  text-shadow: var(--title-shadow);
}

/********************/
/******* MAIN *******/
/********************/
main {
  grid-area: main;
  padding-bottom: 2rem;
}


section {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

/* article "questions cards" */
article {
  display: grid;
  gap: 0.5rem;
  background-color: #ffffff9d;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  /* -6px -6px 0#db2929,
    6px -6px 0 #db5b29,
    -6px 6px 0 #db7929,
    6px 6px 0 #dba329,
    8px 8px 0 var(--text-color),
    9px 9px 0 var(--text-color),
    10px 10px 0 var(--text-color),
    11px 11px 0 var(--text-color); */
  overflow: hidden;
}

article header {
  background-color: #309c42ce;
}

article header h2 {
  text-align: center;
  font-size: 1.3em;
  padding: 1rem;
}

article main {
  display: grid;
  padding: 0.7rem;
}

.questions {
  display: grid;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: var(--border-radius);
}

article .questions button {
  padding: 1.3rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  box-shadow: 9px 9px 16px -1px #545454;
}

article .questions button:hover {
  background-color: #ff972d;
  cursor: pointer;
  transition: 200ms;
}

figure {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}

figure img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 7px 7px 9px -1px #545454;
}

/**********************/
/******* FOOTER *******/
/**********************/
footer {
  grid-area: footer;
  font-weight: 600;
  /* background-color: #f16615; */
}


/*********************/
/******* MEDIA *******/
/*********************/
@media (min-width: 425px) {
  header h1 {
    font-size: 6rem;
  }

  article header h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  article header h2 {
    padding: 1rem 3rem;
  }

  .questions {
    padding: 1rem 4rem;
  }

  figure {
    padding: 1rem 4rem;
  }


}

@media (min-width: 775px) {
  header {
    flex-direction: row;
  }

  header h1 {
    font-size: 9rem;
    margin-top: 30px;
  }


  section {
    gap: 4rem;
  }

  article {
    max-width: 900px;
  }

  article main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  article header h2 {
    font-size: 2rem;
  }

  .questions {
    padding: 2rem;
  }

  .questions button {
    min-width: 250px;
  }
}